.items-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.items-wraper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: max-content;
  }
  .flex-item{
    display: flex;
    justify-content: center;
    flex: 0 0 calc(33.33% - 10px); 
    margin: 20px 5px;
    box-sizing: border-box; 
  }
  .flex-item img {
    width: 100%;
    height: auto;
  }