.nav {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 22px 32px;
    line-height: 1.1;
    
}

.flex-1 {
    display: flex;
    flex: 0.3 1 0%;
    justify-content: center;
}
.flex-2 {
    display: flex;
    flex: 0.3 1 0%;
    justify-content: center;
}
.flex-2 div {
    margin: 0 1rem;
}

.flex-3 {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
}
.flex-4 {
    display: flex;
    flex: 0.3 1 0%;
    justify-content: center;
    align-items: center;
}
.flex-4 span {
    margin: 0 12px;
    color: var(--primary-color);
}
.person{
    font-size: 34px !important;
    color: var(--primary-color);
}
.person:hover {
    text-decoration: none;
    color: var(--accent-color);
}
.basket{
    font-size: 32px !important;
    color: var(--primary-color);
    position: relative;
}
.basket:hover {
    text-decoration: none;
    color: var(--accent-color);
}
.basket.notEmpty::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #cab3fa; 
    border-radius: 50%;
    margin: 12px -29px;
    position: absolute;
    top: -14%;
    right: 101%;
  }

input {
    width: 100%;
    border-radius: 5px;
    height: 2.2rem;
    border: 1px solid var(--primary-color);
    padding: 0 2rem;
}
  
/* slider dark mode */
.toggler-slider {
    width: 25px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
  .toggled{
    background-color: var(--light-color);
  } 
  .circle {
    width: 12px;
    height: 12px;
    background-color: var(--light-color);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 1px;
    transition: transform 0.3s ease-in-out;
  }
  .toggled .circle {
    transform: translateX(11.5px);
    background-color: var(--accent-color);
  }