.person{
    font-size: 34px;
    color: var(--primary-color);
    text-decoration: none;
}
.person:hover {
    text-decoration: none;
    color: var(--accent-color);
}
@media (min-width: 300px) {
    .person{
        font-size: 21px;}
        .login{
            margin: 0 8px 0 8px  !important
        }
}
@media (min-width: 1200px) {
    .person{
        font-size: 34px;}
  }