.item-container-summary{
    padding: 24px;
    background-color: var(--summary-background-color);
}

.item-container-summary h5{
    margin: 8px 0 16px;
}

.summary-container{
    background: var(--light-color);
    padding: 20px;
    border-radius: 15px;
}
.checkout-button{
    width: 100%;
    border: none;
    background: black;
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 35px 0 5px;
}
  .padlock{
    width: 14px;
    height: 14px;
  }
  .shopping-img{
    width: 32px;
    height: 32px;
    margin: 0 20px 0 0;
}
.quantity-summary-num{
    top: -17%;
    left: 54%;
    border: 1px solid var(--summary-background-color);
    border-radius: 25px;
    font-size: 0.6rem;
    padding: 0 3px 0 3px;
}