.menu-container {
    display: flex;
    padding: 10px 32px;
    position: relative;
    border-bottom: 1px solid var(--line-color);
}
.menu-container div {
    flex: 0.07 1 0;
    cursor: pointer;
}
  
  .menu-items {
    position: absolute;
    top: 103%;
    left: 0;
    background-color: white;
    width: 15%;
    height: 100vh;
    overflow: hidden;
  }
  .menu-items .link {
    border-bottom: 1px solid var(--background-color);
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0;
}
.menu-items .link{
  color: var(--primary-color);
}
.menu-items .link:hover{
  text-decoration: none;
  color:  var(--accent-color);
}
  .menu-items .container {
    border-bottom: 1px  solid  var(--line-color);
    padding: 6px 30px;
  }
  .main.menu-open {
    transition: background-color 0.5s, opacity 0.5s;
    background-color: var(--menu-background-opacity-color);
  }
/*  */
  .phones-brands{
    padding: 6px 30px;
}
.container-see-all-items{
    padding: 6px 30px;
}
.see-all-items {
    display: flex;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 19px;
}

/* MenuSeeAllItems */
.items-nav{
  text-align: center;
}
.items-wraper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item{
  display: flex;
  justify-content: center;
  flex: 0 0 calc(33.33% - 10px); 
  margin: 20px 5px;
  box-sizing: border-box; 
}
.flex-item img {
  width: 100%;
  height: auto;
}