.menu-items {
    position: absolute;
    top: 113px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: 1;
    background: rgba(17, 17, 17, 0.7);
  }
  .menu-items-container{
    background: var(--light-color);
    width: 15%
  }
              
  .menu-items .link {
    border-bottom: 1px solid var(--background-color);
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0;
}
.menu-items .link{
  color: var(--primary-color);
}
.menu-items .link:hover{
  text-decoration: none;
  color:  var(--accent-color);
}
  .menu-items .container {
    border-bottom: 1px  solid  var(--line-color);
    padding: 6px 30px;
  }
  .main.menu-open {
    transition: background-color 0.5s, opacity 0.5s;
    background-color: var(--menu-background-opacity-color);
  }
/*  */
  .phones-brands{
    padding: 6px 30px;
}
.container-see-all-items{
    padding: 6px 30px;
}
.see-all-items {
    display: flex;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 19px;
}
.material-icons{
  font-size: 30px;
}

@media (min-width: 300px) {
  .material-icons{
      font-size: 20px;}
}
@media (min-width: 1200px) {
  .material-icons{
      font-size: 30px;}
}