
.item-container.item-container-summary{
    padding: 24px;
    background-color: var(--summary-background-color);
}

li {
    list-style-type: none;
    
}

.basket-card{
    width: 100%;
    margin: 20px auto;
    max-width: 820px;
    padding: 32px;
    background: var(--light-color);
    border-radius: 20px;
}
img{
    width: 32px;
    height: 32px;
    margin: 0 20px 0 0;
}
.basket-card-item-1  {
    display: flex;
}
.basket-card-item-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 132px;
}
.basket-card-item-2 > select, button  {
    color: var(--primary-color);
}

h5{
    margin: 36px 0 16px;
}
/* Summary */

.summary-container{
    background: var(--light-color);
    padding: 20px;
    border-radius: 15px;
}
.checkout-button{
    width: 100%;
    border: none;
    background: black;
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 35px 0 5px;
}
  .padlock{
    width: 14px;
    height: 14px;
  }