:root {
    --primary-color: #545454;
    --accent-color: #333333;
    --warn-color: #ff6347;
    --light-color: #ffffff;
    --background-color: #F9F9F9;
    --summary-background-color: #F4F4F4;
    --line-color: #d7d7d7;
    --menu-background-opacity-color: rgba(86, 86, 86, 0.7);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body,html {
    margin: 0;
    font-family: 'McLaren', sans-serif;
    background: var(--background-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100%;
  }
.error {
    color : var(--warn-color);
  }

 .dark {
  background: var(--accent-color) !important;
  color: var(--light-color) !important;
  border: none !important;;
  }

/* Classes Modular Approach */

/* Text Alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Typography */
.bold {
  font-weight: bold;
}
.small-text {
  font-size: 0.8rem;
}
.large-text {
  font-size: 1.2rem;
}

/* Margins and Padding */
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-12 {
  margin-left: 12px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.padding-15 {
  padding: 15px;
}

/* Display */
.hide {
  display: none;
}

/* Borders and Radius */
.border-radius {
  border-radius: 5px;
}

/* Flexbox */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

/* Hover Effects */
.hover-scale {
  transition: transform 0.3s ease-in-out;
}
.hover-scale:hover {
  transform: scale(1.1);
}

/* Width and Appearance */
.width-100 {
  width: 100%;
}
.appearance-none {
  appearance: none;
}

/* Positioning */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

/* Pointer Events */
.pointer-events-none {
  pointer-events: none;
}
