:root {
    --primary-color: #545454;
    --accent-color: #333333;
    --warn-color: #ff6347;
    --light-color: #ffffff;
    --background-color: #F9F9F9;
    --line-color: #d7d7d7;
    --menu-background-opacity-color: rgba(86, 86, 86, 0.7);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body,html {
    margin: 0;
    font-family: 'McLaren', sans-serif;
    background: var(--background-color);
    color: var(--accent-color);
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .body-2 {
    font-family: 'McLaren', sans-serif;
    font-weight: 300;
    color: var(--primary-color);
  }
  
  

.error {
    color : var(--warn-color);
  }