:root {
  --primary-color: #545454;
  --accent-color: #333333;
  --warn-color: #ff6347;
  --light-color: #ffffff;
  --background-color: #F9F9F9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'McLaren', sans-serif;
  background: var(--background-color);
  color: var(--accent-color);
}

.body-2 {
  font-family: 'McLaren', sans-serif;
  font-weight: 300;
  color: var(--primary-color);
}


